<nav class="clearfix">
  <a href="#how_parkbox_works">
    What is ParkBox?
  </a>
  <span>
    Monthly Themes
  </span>
  <span class="logo">
    <%= image_tag('parkbox-logo.png') %>
  </span>
  
  <span>
    Login
  </span>
  <span class='button'>
    Get Started
  </span>
</nav>