<nav class="clearfix">
  <a href="#how_parkbox_works">
    Why choose ParkBox?
  </a>
  <a>
    Monthly Themes
  </a>
  <a class="logo">
    <%= image_tag('parkbox-logo.png') %>
  </a>
  
  <a>
    Login
  </a>
  <a class='button'>
    Get Started
  </a>
</nav>