<nav class="clearfix">
  <a href="#how_parkbox_works" class="hidden small">
    Why choose Park?
  </a>
  <a class="logo">
    <%= image_tag('parkbox-logo.png') %>
  </a>
  
  <a>
    Login
  </a>
  <a class='button'>
    Start
  </a>
</nav>