<nav class="clearfix">
  <a href="#how_parkbox_works" class="small">
    Why Park?
  </a>
  <a class="logo">
    <%= image_tag('parkbox-logo.png') %>
  </a>
  
  <a>
    Login
  </a>
  <a class='button'>
    Start
  </a>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", function(event){
    window.onscroll = function() {toggleClass()};
    var navbar = document.getElementById("navbar");
    var fixed = navbar.offsetTop;
    
    function toggleClass() {
      if (window.pageYOffset >= fixed) {
        navbar.classList.add("fixed")
      } else {
        navbar.classList.remove("fixed");
      }
    }
  });
</script>