<div class="nav-wrapper">
  <div id="navbar">
    <nav class="clearfix" >
      <a href="#how_parkbox_works" class="mobile-hidden">
        Why Park?
      </a>
      <a class="desktop-hidden mobile-visible btn-nav">
        <%= image_tag('icon_burger.png', class:"icon") %>
      </a>
      
      <a class="logo">
        <%= image_tag('parkbox-logo.png') %>
      </a>
      
      <a href="#about" class="mobile-hidden">
        About
      </a>
      <a class='btn' href="mailto:jake@parkjake.com">
        Email
      </a>
    </nav>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event){
    window.onscroll = function() {toggleClass()};
    var navbar = document.getElementById("navbar");
    var fixed = navbar.offsetTop;
    
    function toggleClass() {
      if (window.pageYOffset >= fixed) {
        navbar.classList.add("fixed")
      } else {
        navbar.classList.remove("fixed");
      }
    }
  });
</script>