<nav class="clearfix">
  <span>
    What is ParkBox?
  </span>
  <span>
    Monthly Themes
  </span>
  <span class="logo">
    <%= image_tag('parkbox-logo.png') %>
  </span>
  
  <span>
    Login
  </span>
  <span class='button'>
    Get Started
  </span>
</nav>


<footer>
  Design © BarkBox 2018
</footer>

