<nav class="clearfix">
  <a href="#how_parkbox_works">
    What is ParkBox?
  </a>
  <span>
    Monthly Themes
  </span>
  <span class="logo">
    <%= image_tag('parkbox-logo.png') %>
  </span>
  
  <span>
    Login
  </span>
  <span class='button'>
    Get Started
  </span>
</nav>


<main>
  <div class="wrapper">
    <section id="hero">
      <div class="left">
        <h2>
          A monthly box of dog goodies.
        </h2>
        <div class="button_cta">
          Choose your ParkBox
        </div>
        <div class="button_cta last">
          Give a gift
        </div>
      </div>
      
      <div class="hero_container">
      </div>
    </section>
  </div>
  
  <section id="how_parkbox_works">
    <h1>
      Why work with ParkBox
    </h1>
    
    <div class="how_stories">
      <div class="trio">
        I love dogs!
      </div>
      <div class="trio">
        My friends love BarkBox!
      </div>
      <div class="trio">
        Agreement!
      </div>
      
      <div class="cta">
        Ready to spoil yourself with a ParkBox of your very own!?
        <a href="http://parkjake.com" target="_blank">Click here!</a>
      </div>
    </div>
    
  </section>
</main>

<div class="footerholder">
  <footer>
    Design © BarkBox 2018
  </footer>
</div>

