<%= render 'navbar' %>

<main>
  <div class="wrapper">
    <section id="hero">
      <div class="left">
        <h2>
          Imitation is the sincerest form of flattery
        </h2>
        <div class="button_cta">
          Choose Park for BarkBox
        </div>
        <div class="button_cta last">
          Give a gift
        </div>
      </div>
      
      <div class="hero_container">
      </div>
    </section>
  </div>
  
  <section id="how_parkbox_works">
    <h1>
      Why work with Park
    </h1>
    
    <div class="how_stories">
      <div class="trio">
        I love dogs!
      </div>
      <div class="trio">
        My friends love BarkBox!
      </div>
      <div class="trio">
        Agreement!
      </div>
      
      <div class="cta">
        Ready to spoil yourself with a ParkBox of your very own!?
        <a href="http://parkjake.com" target="_blank">Click here!</a>
      </div>
    </div>
    
  </section>
</main>

<%= render 'footer' %>