<nav class="clearfix">
  <span>
    What is ParkBox?
  </span>
  <span>
    Monthly Themes
  </span>
  <span class="logo">
    <img src="<%= image_url('public/parkbox-logo.png') %>" alt="">
  </span>
  
  <span>
    Login
  </span>
  <span class='button'>
    Get Started
  </span>
</nav>


<footer>
  Design © BarkBox 2018
</footer>

