<nav class="clearfix">
  <a href="#how_parkbox_works">
    What is ParkBox?
  </a>
  <span>
    Monthly Themes
  </span>
  <span class="logo">
    <%= image_tag('parkbox-logo.png') %>
  </span>
  
  <span>
    Login
  </span>
  <span class='button'>
    Get Started
  </span>
</nav>


<main>
  <section id="hero">
    <h1>
      Developer goodies
    </h1>
    
    <div class="hero">
      <%= image_tag('hero_pup.png') %>
    </div>
    Choose your ParkBox
    
    Give a gift
  </section>
  
  
  <section id="how_parkbox_works">
    <h1>
      How ParkBox Works
    </h1>
    
    <div class="how_stories">
      <p>
        Say hello, starting for Free!
      </p>
      <p>
        I respond, hi! Talking is always free!
      </p>
      <p>
        Agreement!
      </p>
    
      <div class="cta">
        Ready to spoil yourself with a ParkBox of your very own!?
        <button type="button" name="button">Click here!</button>
      </div>
    </div>
    
  </section>
</main>

<footer>
  Design © BarkBox 2018
</footer>

