nav {
  border: 1px solid grey;
  margin: 0 auto;
  padding: 20px 0;
  width: 1000px;

  display: flex;
  
  .logo {
    flex-grow: 2;
    color: #3b5998;
    font-size: 24px;
    text-transform: capitalize;
  }
  
  .button {
    background: lightgreen;
  }
  
  span {
    flex-grow: 1;
    cursor: pointer;
  }
  
  span:hover {
    background: lightgrey;
  }
}