nav {
  border-bottom: 1px solid grey;
  margin: 0 auto;
  padding: 20px 0;
  width: 1000px;

  display: flex;
  
  .logo {
    flex-grow: 2;
    font-size: 24px;
    text-transform: capitalize;
    
    img {
      max-width: 150px;
    }
  }
  
  .button {
    background: lightgreen;
  }
  
  span {
    flex-grow: 1;
    cursor: pointer;
  }
  
  span:hover {
    color: cornflowerblue;
  }
  
  .button:hover {
    color: initial;
    background: darkgreen;
  }
}

main {
  margin: 0 auto;
  width: 1000px;
  h1 {
    font-size: 36px;
  }
  
  #hero {
    background-color: lightblue;
  }
  
  #how_parkbox_works {
    margin: 20px 0;
    
    .how_stories {
      margin: 20px;
      display: flex;
    
      p {
        flex: 1;
        border: 1px solid red;
        min-width: 50px;
      }
      
      .cta {
        display: block;
        
        button {
          background: lightgreen;
          border-radius: 10px;
          padding: 5px;
        }
      }
    }
  }
}

footer {
  margin: 0 auto;
  width: 1000px;
  position: absolute;
  bottom: 10px;
}